html, body {
    
    background-image: linear-gradient(rgb(13, 5, 34), 80%, rgb(62, 126, 245));
    margin: 0;
   
}

#mainWrapper {
    display: flex;    
    flex-direction: column;
    min-height: 100vh;
    background-color:rgba(0, 0, 0, 0);
    max-width: 50%;
    margin: auto;
}

header {
    display: flex;
    justify-content: center;
    background-color: rgba(0, 0, 0, 0);
    min-height: 20%;
    
}

main {
    display: flex;
    align-items: center;
    justify-content: center;
    flex: 1;
    flex-direction: column;
}

#mainTitle {
    color: rgb(248, 246, 246);
    font-family: 'Black Ops One', cursive;
    padding-top: 5%;
    font-size: 4rem;
}

#gbGridContainer {
    display: inline-grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(3, 1fr);
    height: 400px;
    width: 400px;
    border-right: solid;
    border-bottom: solid;
    border-color: rgb(248, 246, 246);
    border-width: 0.5px;
}

#startBtnWrapper {
 margin-top: 5%;
 max-width: 200px;
 max-height: 90px;
}

#startBtn {
    border-radius: 15px;
    border-color:rgb(248, 246, 246);
    background-color: rgba(0, 0, 0, 0);
    color:rgb(248, 246, 246);
    
    font-size: 3rem;
    font-family: 'Black Ops One', cursive;
    padding-right: 25px;
}

.squares{
    display: flex;
    align-items: center;
    justify-content: center;
    border-top: solid;
    border-left: solid;
    border-color: rgb(248, 246, 246);
    border-width: 0.5px;
    color: rgb(248, 246, 246);
    font-family: 'Black Ops One', cursive;
    font-size:3em;
    
}


footer {
    display: flex;
   background-color: rgba(0, 0, 0, 0);
   color:rgb(248, 246, 246);
   margin-top: auto;
   justify-content: center;
   padding-top: 1em;
   padding-bottom: 1em;
}

