html, body {
    
    background-image: linear-gradient(rgb(13, 5, 34), 80%, rgb(252, 252, 102));
    margin: 0;
   
}

#mainWrapper {
    display: flex;    
    flex-direction: column;
    min-height: 100vh;
    background-color:rgb(245, 245, 245);
    max-width: 50%;
    margin: auto;
}

header {
    display: flex;
    justify-content: center;
    background-color: rgb(236, 236, 236);
    
}

main {
    display: flex;
    align-items: center;
    justify-content: center;
    flex: 1;
}

#mainTitle {
    color: rgb(13, 5, 34);
    font-family: 'Staatliches', cursive;
    font-size: 2rem;
}

#gbGridContainer {
    display: inline-grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(3, 1fr);
    height: 400px;
    width: 400px;
    border-right: solid;
    border-bottom: solid;
    border-color: darkred;
    border-width: 0.5px;
}

.squares{
    border-top: solid;
    border-left: solid;
    border-color: darkred;
    border-width: 0.5px;
}

footer {
    display: flex;
   background-color: rgb(236, 236, 236);
   color:rgb(14, 13, 13);
   margin-top: auto;
   justify-content: center;
   padding-top: 1em;
   padding-bottom: 1em;
}

